*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
   
}

h1{
    color: red;
}

a:link{
    text-decoration: none;
    color: salmon;
    background-color: blue;
}

a:visited{
    color: brown;
}

p:hover{
    cursor: pointer;
}